
.root {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: $device-xs__min-width; 
    height: auto;
  
    border-radius: 8px;
  
    padding: 10px 0px 10px 0px; /* top right bottom left */
  
  
    &:nth-child(n+2) { 
        margin-top: 5px;
        padding: 0px 0px 0px 0px; /* top right bottom left */
        opacity: 0.9;
    }
  
  
    &:global(.success) {
        @include color-each-theme(background-color, banner-success__background-color);
        @include color-each-theme(color, banner-success__font-color);

        @include frame-each-theme(border, 2px, solid, banner-success__border-color);

        @include shadow-each-theme(box-shadow, 0px, 0px, 10px, 2px, banner-success__box-shadow-color);
    }

    &:global(.hint) {
        @include color-each-theme(background-color, banner-hint__background-color);
        @include color-each-theme(color, banner-hint__font-color);

        @include frame-each-theme(border, 2px, solid, banner-hint__border-color);

        @include shadow-each-theme(box-shadow, 0px, 0px, 10px, 2px, banner-hint__box-shadow-color);
    }

    &:global(.error) {
        @include color-each-theme(background-color, banner-error__background-color);
        @include color-each-theme(color, banner-error__font-color);

        @include frame-each-theme(border, 2px, solid, banner-error__border-color);

        @include shadow-each-theme(box-shadow, 0px, 0px, 10px, 2px, banner-error__box-shadow-color);
    }

    &:global(.warning) {
        @include color-each-theme(background-color, banner-warning__background-color);
        @include color-each-theme(color, banner-warning__font-color);

        @include frame-each-theme(border, 2px, solid, banner-warning__border-color);

        @include shadow-each-theme(box-shadow, 0px, 0px, 10px, 2px, banner-warning__box-shadow-color);
    }
  
  
    & > div:nth-child(1){
        width: 50px;
        
        border-right-width: 2px;
        border-right-style: solid;
        border-right-color: inherit;
    }
    &:nth-child(n+2) { 
        & > div:nth-child(1){
            visibility: hidden;
        }
    }
  
  
  
    & > div:nth-child(2){
        width: calc(100% - 100px);
    }
    &:nth-child(n+2) { 
        & > div:nth-child(2){
            font-size: 0.8rem;
        }
    }
    
    & > div:nth-child(3){
        width: 50px;
        border-left-width: 2px;
        border-left-style: solid;
        border-left-color: inherit;
    }
    &:nth-child(n+2) { 
        & > div:nth-child(3){
            border-left-style: none;
        }
    }
  
}




.button-delete {

    & > div:nth-child(1){
        display: flex;
	}
      
    & > div:nth-child(2){
	    display: none;
	}
	  
	&:hover {
	    & > div:nth-child(1){
	        display: none;
	    }
	    & > div:nth-child(2){
            display: flex;
	    }
	}
}

/*
@keyframes scaleGuage {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0); 
    }
}
*/

.gauge {

    width: inherit;
    height: 1px;
    
    position: absolute;
    top: 0px;
    left: 0px;
  
    transform-origin: 0% 50%;
  
    /* animation: scaleGuage ${ banner.msTime / 1000 }s linear normal forwards; */
  
    &:global(.success) {
        @include color-each-theme(background-color, banner-success__border-color);
    }

    &:global(.hint) {
        @include color-each-theme(background-color, banner-hint__border-color);
    }

    &:global(.error) {
        @include color-each-theme(background-color, banner-error__border-color);
    }

    &:global(.warning) {
        @include color-each-theme(background-color, banner-warning__border-color);
    }
  
}