
// https://sandstorm.de/de/blog/post/bem-sass-scss-variable-naming.html

// TYPE--BIG__SMALL--MODIFY     - once between one block

$map--color--basic: (
  '00': hsl(210,15%,0%),
  '05': hsl(210,15%,5%),
  '10': hsl(210,15%,10%),
  '15': hsl(210,15%,15%),
  '20': hsl(210,15%,20%),
  '25': hsl(210,15%,25%),
  '30': hsl(210,15%,30%),
  '35': hsl(210,15%,35%),
  '40': hsl(210,15%,40%),
  '45': hsl(210,15%,45%),
  '50': hsl(210,15%,50%),
  '55': hsl(210,15%,55%),
  '60': hsl(210,15%,60%),
  '65': hsl(210,15%,65%),
  '70': hsl(210,15%,70%),
  '75': hsl(210,15%,75%),
  '80': hsl(210,15%,80%),
  '85': hsl(210,15%,85%),
  '90': hsl(210,15%,90%),
  '95': hsl(210,15%,95%),
  '100': hsl(210,15%,100%)
);
 
  
$map--color--main: (
  '00': hsl(210,100%,0%),
  '05': hsl(210,100%,4%),
  '10': hsl(210,100%,7%),
  '15': hsl(210,100%,11%),
  '20': hsl(210,100%,16%),
  '25': hsl(210,100%,21%),
  '30': hsl(210,100%,26%),
  '35': hsl(210,100%,31%),
  '40': hsl(210,100%,36%),
  '45': hsl(210,100%,41%),
  '50': hsl(210,100%,46%),
  '55': hsl(210,100%,51%),
  '60': hsl(210,100%,57%),
  '65': hsl(210,100%,63%),
  '70': hsl(210,100%,70%),
  '75': hsl(210,100%,77%),
  '80': hsl(210,100%,83%),
  '85': hsl(210,100%,88%),
  '90': hsl(210,100%,93%),
  '95': hsl(210,100%,97%),
  '100': hsl(210,100%,100%)
),
  
  
  
$map--color--sub: (
  '00': hsl(335,100%,0%),
  '05': hsl(335,83%,7%),
  '10': hsl(335,83%,13%),
  '15': hsl(335,82%,19%),
  '20': hsl(335,83%,24%),
  '25': hsl(335,84%,29%),
  '30': hsl(335,85%,34%),
  '35': hsl(335,85%,39%),
  '40': hsl(335,85%,44%),
  '45': hsl(335,85%,49%),
  '50': hsl(335,85%,57%),
  '55': hsl(335,84%,64%),
  '60': hsl(335,85%,70%),
  '65': hsl(335,85%,75%),
  '70': hsl(335,86%,80%),
  '75': hsl(335,87%,85%),
  '80': hsl(335,88%,89%),
  '85': hsl(335,87%,92%),
  '90': hsl(335,88%,95%),
  '95': hsl(335,89%,98%),
  '100': hsl(335,90%,100%)
);
  
  
$map--color--warning: (
  '00': hsl(15,100%,0%),
  '05': hsl(15,100%,5%),
  '10': hsl(15,100%,10%),
  '15': hsl(15,100%,15%),
  '20': hsl(15,100%,19%),
  '25': hsl(15,100%,24%),
  '30': hsl(15,100%,29%),
  '35': hsl(15,100%,34%),
  '40': hsl(15,100%,39%),
  '45': hsl(15,100%,44%),
  '50': hsl(15,100%,49%),
  '55': hsl(15,100%,57%),
  '60': hsl(15,100%,64%),
  '65': hsl(15,100%,70%),
  '70': hsl(15,100%,76%),
  '75': hsl(15,100%,81%),
  '80': hsl(15,100%,86%),
  '85': hsl(15,100%,90%),
  '90': hsl(15,100%,94%),
  '95': hsl(15,100%,97%),
  '100': hsl(15,100%,100%)
);
  
$map--color--error: (
  '00': hsl(0,98%,0%),
  '05': hsl(0,78%,6%),
  '10': hsl(0,77%,13%),
  '15': hsl(0,77%,19%),
  '20': hsl(0,79%,24%),
  '25': hsl(0,81%,29%),
  '30': hsl(0,83%,34%),
  '35': hsl(0,81%,40%),
  '40': hsl(0,83%,45%),
  '45': hsl(0,82%,51%),
  '50': hsl(0,84%,58%),
  '55': hsl(0,86%,64%),
  '60': hsl(0,87%,69%),
  '65': hsl(0,89%,74%),
  '70': hsl(0,91%,79%),
  '75': hsl(0,93%,84%),
  '80': hsl(0,92%,88%),
  '85': hsl(0,94%,92%),
  '90': hsl(0,96%,95%),
  '95': hsl(0,98%,98%),
  '100': hsl(0,100%,100%)
);
  
$map--color--success: (
  '00': hsl(125,100%,0%),
  '05': hsl(120,53%,5%),
  '10': hsl(120,57%,9%),
  '15': hsl(120,62%,13%),
  '20': hsl(120,63%,17%),
  '25': hsl(120,64%,21%),
  '30': hsl(120,64%,25%),
  '35': hsl(120,59%,30%),
  '40': hsl(120,59%,34%),
  '45': hsl(120,55%,39%),
  '50': hsl(120,51%,45%),
  '55': hsl(120,50%,53%),
  '60': hsl(120,55%,61%),
  '65': hsl(120,60%,69%),
  '70': hsl(120,65%,77%),
  '75': hsl(120,70%,84%),
  '80': hsl(120,75%,90%),
  '85': hsl(120,80%,94%),
  '90': hsl(120,85%,97%),
  '95': hsl(120,90%,99%),
  '100': hsl(120,95%,100%)
);
  
$map--color--hint: (
  '00': hsl(208,100%,0%),
  '05': hsl(208,100%,5%),
  '10': hsl(208,100%,8%),
  '15': hsl(208,100%,12%),
  '20': hsl(208,100%,16%),
  '25': hsl(208,100%,21%),
  '30': hsl(208,100%,25%),
  '35': hsl(208,100%,30%),
  '40': hsl(208,100%,35%),
  '45': hsl(208,100%,40%),
  '50': hsl(208,100%,44%),
  '55': hsl(208,100%,48%),
  '60': hsl(208,100%,54%),
  '65': hsl(208,100%,61%),
  '70': hsl(208,100%,68%),
  '75': hsl(208,100%,75%),
  '80': hsl(208,100%,82%),
  '85': hsl(208,100%,88%),
  '90': hsl(208,100%,93%),
  '95': hsl(208,100%,97%),
  '100': hsl(208,100%,100%)
);
  
$map--color--facebook: {
  '00': hsl(208,70%,0%),
  '05': hsl(222,70%,5%),
  '10': hsl(222,70%,9%),
  '15': hsl(222,70%,14%),
  '20': hsl(222,70%,20%),
  '25': hsl(222,70%,26%),
  '30': hsl(222,70%,32%),
  '35': hsl(222,70%,38%),
  '40': hsl(222,70%,44%),
  '45': hsl(222,70%,50%),
  '50': hsl(222,70%,54%),
  '55': hsl(222,70%,58%),
  '60': hsl(222,70%,62%),
  '65': hsl(222,70%,67%),
  '70': hsl(222,70%,72%),
  '75': hsl(222,70%,77%),
  '80': hsl(222,70%,82%),
  '85': hsl(222,70%,87%),
  '90': hsl(222,70%,92%),
  '95': hsl(222,70%,96%),
  '100': hsl(222,70%,100%)
);
  
$map--color--twitter: (
  '00': hsl(196,100%,0%),
  '05': hsl(200,100%,5%),
  '10': hsl(200,100%,9%),
  '15': hsl(200,100%,13%),
  '20': hsl(200,100%,17%),
  '25': hsl(200,100%,21%),
  '30': hsl(200,100%,25%),
  '35': hsl(200,100%,29%),
  '40': hsl(200,100%,33%),
  '45': hsl(200,100%,37%),
  '50': hsl(200,100%,41%),
  '55': hsl(200,100%,45%),
  '60': hsl(200,100%,50%),
  '65': hsl(200,100%,58%),
  '70': hsl(200,100%,66%),
  '75': hsl(200,100%,74%),
  '80': hsl(200,100%,82%),
  '85': hsl(200,100%,88%),
  '90': hsl(200,100%,93%),
  '95': hsl(200,100%,97%),
  '100': hsl(200,100%,100%)
);
  
$map--color--google: (
  '00': hsl(16, 100%, 0%),
  '05': hsl(16, 94%, 7%),
  '10': hsl(16, 94%, 12%),
  '15': hsl(16, 95%, 16%),
  '20': hsl(16, 94%, 21%),
  '25': hsl(16, 94%, 26%),
  '30': hsl(16, 93%, 31%),
  '35': hsl(16, 93%, 36%),
  '40': hsl(16, 92%, 41%),
  '45': hsl(16, 91%, 46%),
  '50': hsl(16, 90%, 52%),
  '55': hsl(16, 91%, 59%),
  '60': hsl(16, 91%, 65%),
  '65': hsl(16, 92%, 71%),
  '70': hsl(16, 91%, 76%),
  '75': hsl(16, 92%, 81%),
  '80': hsl(16, 93%, 86%),
  '85': hsl(16, 92%, 90%),
  '90': hsl(16, 93%, 94%),
  '95': hsl(16, 94%, 97%),
  '100': hsl(16, 95%, 100%)
);
 