@import 'palette';

// TYPE--ELEMENT--MODIFY
//  what-it-is--
//              big-element__small-element
//                                        --big-modifier__small-modifier


$name__theme: "light";


$background-color: map-get($map--color--basic, '100');
$color--body: map-get($map--color--basic, '25');

