@import 'color-assignment/global.scss';
@import 'color-assignment/content.scss';
@import 'color-assignment/full-page.scss';
@import 'color-assignment/modal.scss';
@import 'color-assignment/nav.scss';
@import 'color-assignment/notification.scss';


// sass 절대 경로 관련 설정:   https://velog.io/@velopert/react-component-styling
@function map-collect($maps...) {
    $collection: ();

    @each $map in $maps {
        $collection: map-merge($collection, $map);
    }
    @return $collection;
}

$map-color-assignment: map-collect(
    $global__map-color-assignment, 
    $content__map-color-assignment,
    $full-page__map-color-assignment,
    $modal__map-color-assignment,
    $nav__map-color-assignment,
    $notification__map-color-assignment
);
