@import 'colors';

$list-name-theme: (theme-light, theme-dark);

@mixin color($property, $key-front) {

    @each $name-theme in $list-name-theme {
    .#{$name-theme} & {
        #{$property}: map-get(
            $map: $map-color-assignment, 
            $key: #{$key-front}---#{$name-theme}
        )
    }

  }
}

.test {
    @include color(color, border-color);
}