@import '~styles/color-assignment.scss'

.template {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    flex: 1 0 auto;

    width: 100%; min-width: 
  
}


.template-div {
    
}


.template-button {

}