@import 'styles/every.scss';

.root {

    width: auto;
    height: auto;
  
	&:hover {
	  
        & > div:nth-child(1) > div:nth-child(1) > a {
            @include color-each-theme(color, nav-2--link__font-color__hover);
        }
	  
        & > div:nth-child(1) > div:nth-child(2) {
            transform: rotate(180deg) translateY(-1px);
        }
	}
  
}


.title {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  
    width: auto;
	height: auto;
	
	& > * {
      width : auto;
	}
	& a {
        @include color-each-theme(color, nav-2--link__font-color);
    }
    
    .icon-angle {
        @include color-each-theme(color, nav-2--link__font-color);
        width: 20px;
        height: 20px;
        top: 1px;
    }
}


.modal {

    width: 200px; 
    
    display: none;
    /* 모바일에서 타이틀 클릭으로 온오프가능하게 */
    &:global(.spotlighted----true) {
        display: flex;
    }
    
    position: absolute;
    z-index: 400;
    top: calc(100% + 10px);

  /*
    ${m.box_shadow(`0px 0px 3px 3px ${c.Nav.nav2_modal___box_shadow}`)}
  */
}



// http://apps.eky.hk/css-triangle-generator/
// TraiangleBack is for border effect of traiangle
.modal__triangle-front {

    width: 0;
    height: 0;
    border-style: solid;
    content: "";

    position: absolute;
    bottom: calc(100% - 1px);
    z-index: 401;
    border-width: 10px;
    border-color: transparent;
    @include color-each-theme(border-bottom-color, nav-2--modal__background-color);

}

.modal__triangle-back {

    width: 0;
    height: 0;
    border-style: solid;
    content: "";
  
    position: absolute;
    bottom: calc(100% - 2px);
    z-index: 399;
    border-width: 12px;
    border-color: transparent;
    @include color-each-theme(border-bottom-color, nav-2--modal__border);

    // ${ m.filter(`drop-shadow(0px 0px 3px ${c.Nav.nav2_modal___drop_shadow})`) }
  
}

.modal__background-of-triangle { 

    width: 100%;
    height: 10px;
  
    position: absolute;
    bottom: calc(100% - 1px);

    /*background-color:red;*/
}
  

.modal__box {
    
    @include color-each-theme(background-color, nav-2--modal__background-color);
    @include color-each-theme(color, nav-2--modal__font-color);
    
    @include frame-each-theme(border, 1px, solid, nav-2--modal__border-color);

    z-index: 400;
    
    @include shadow-each-theme(box-shadow, 0px, 0px, 5px, 2px, nav-2--modal__box-shadow-color);

    border-radius: 4px;
  
}
  

.link {

    height: 40px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  
    &:first-child { border-radius: 4px 4px 0 0; }
    
    &:last-child { border-radius: 0 0 4px 4px; }
    
    border-collapse: separate; 
  
  
    &:hover {
        @include color-each-theme(background-color, nav-2--modal__background-color__hover);
    }
  
}
