
.root {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

	& > *:nth-child(1) {
        
        margin-left: 10px;
	  
        & > a {
            
            @include color-each-theme(color, nav-2--link__font-color);

            &:hover {
                @include color-each-theme(color, nav-2--link__font-color__hover);
            }
	    }
	
	}
}



