@import 'styles/every.scss';

.full-page__root {

    z-index: 100;
} 

.full-page__background {

    @include color(background-color, full-page__background-color);

    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 10;
} 