@import 'styles/every.scss';


body {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    @include color-each-theme(background-color, body__background-color);
    @include color-each-theme(color, body__font-color);

    width: 100%; min-width: $device-xs__min-width;
    height: auto; 

    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    
    position: relative;
    
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}


div {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    @include color-each-theme(background-color, div__background-color);
    @include color-each-theme(color, div__font-color);

    width: 100%;
    height: auto; 

    box-sizing: border-box;

    font-size: 1rem;
    
    position: relative;
    z-index: inherit;

    overflow: visible;

    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}


button {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @include color-each-theme(background-color, button__background-color);
    @include color-each-theme(color, button__font-color);

    @include frame-each-theme(border, 1px, solid, button__border-color);
    border-radius: 4px;

    width: auto;
    height: auto; 

    box-sizing: border-box;

    font-size: 1rem;
    
    
    font-family: 'Noto Sans KR', sans-serif;
    position: static;

    overflow: visible;
    cursor: pointer;

    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}



a {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    
    @include color-each-theme(color, a__font-color);

    border-radius: 4px;

    width: auto;
    height: auto; 

    box-sizing: border-box;

    font-size: 1rem;
    
    
    position: static;

    overflow: visible;
    cursor: pointer;
    
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}




input[type=text], input[type=password] {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @include color-each-theme(background-color, input-text__background-color);
    @include color-each-theme(color, input-text__font-color);

    @include frame-each-theme(border, 1px, solid, input-text__border-color);
    border-radius: 0px;

    width: auto;
    height: auto; 

    box-sizing: border-box;

    font-size: 1rem;
    
    
    position: static;

    overflow: visible;
    cursor: pointer;
    
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 

    &:focus {
        @include color-each-theme(background-color, input-text__background-color__focus);
        @include color-each-theme(color, input-text__font-color__focus);

        @include frame-each-theme(border, 2px, solid, input-text__border-color__focus);
        @include frame-each-theme(outline, 1px, solid, input-text__outline-color__focus);
    
        @include shadow-each-theme(box-shadow, 0px, 0px, 15px, 2px, input-text--box-shadow-color__focus);
    }
}



header {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    @include color-each-theme(background-color, header__background-color);
    @include color-each-theme(color, header__font-color);

    width: 100%;
    height: auto; 

    box-sizing: border-box;

    font-size: 1rem;
    
    position: relative;
    z-index: inherit;

    overflow: visible;

    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}