// ELEMENT__PROPERTY
// big-element--small-element

$nav-1--bar__height: 48px;
$nav-2--bar__height: 60px;

$full-page__min-height: 400px;


// https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions
$device-xs__min-width: 320px;     
$device-s__min-width: 576px;      
$device-m__min-width: 768px;
$device-l__min-width: 992px;
$device-xl__min-width: 1200px; 

$device-xs__max-width: 440px;

