@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$global__map-color-assignment: (

    body__background-color___theme-light: map-get($map-color-series__basic, '100'),

    body__font-color___theme-light: map-get($map-color-series__basic, '25'),


    div__background-color___theme-light: transparent,
    div__background-color___theme-dark: transparent,
    div__font-color___theme-light: inherit,
    div__font-color___theme-dark: inherit,
    div__border-color___theme-light: transparent,
    div__border-color___theme-dark: transparent,


    anchor__font-color___theme-light: inherit,
    anchor__font-color___theme-dark: inherit,


    button__background-color___theme-light: transparent,
    button__background-color___theme-dark: transparent,
    button__font-color___theme-light: inherit,
    button__font-color___theme-dark: inherit,
    button__border-color___theme-light: transparent,
    button__border-color___theme-dark: transparent,


    button__background-color__hover___theme-light: transparent,
    button__background-color__hover___theme-dark: transparent,
    button__font-color__hover___theme-light: inherit,
    button__font-color__hover___theme-dark: inherit,
    button__border-color__hover___theme-light: transparent,
    button__border-color__hover___theme-dark: transparent,


    button__background-color__focus___theme-light: transparent,
    button__background-color__focus___theme-dark: transparent,
    button__font-color__focus___theme-light: inherit,
    button__font-color__focus___theme-dark: inherit,
    button__border-color__focus___theme-light:  map-get($map-color-series__basic, '50'),
    button__border-color__focus___theme-dark:  map-get($map-color-series__basic, '50'),
    button__outline-color__focus___theme-light:  map-get($map-color-series__basic, '50'),
    button__outline-color__focus___theme-dark:  map-get($map-color-series__basic, '50'),


    button-main__background-color__focus___theme-light: map-get($map-color-series__main, '50'),
    button-main__background-color__focus___theme-dark: map-get($map-color-series__main, '50'),
    button-main__font-color__focus___theme-light: map-get($map-color-series__main, '100'),
    button-main__font-color__focus___theme-dark: map-get($map-color-series__main, '00'),
    button-main__border-color__focus___theme-light:  transparent,
    button-main__border-color__focus___theme-dark:  transparent,
    button-main__outline-color__focus___theme-light:  transparent,
    button-main__outline-color__focus___theme-dark:  transparent,


    input-text__background-color___theme-light: map-get($map-color-series__basic, '100'),

    input-text__font-color-___theme-light: map-get($map-color-series__basic, '25'),

    input-text__border-color___theme-light:  map-get($map-color-series__basic, '75'),


    input-text__background-color__focus___theme-light: map-get($map-color-series__main, '100'),

    input-text__font-color__focus___theme-light: map-get($map-color-series__basic, '25'),

    input-text__border-color__focus___theme-light:  map-get($map-color-series__main, '75'),

    input-text__outline-color__focus___theme-light:  transparent,

    input-text--box-shadow-color__focus___theme-light:  rgba(map-get($map-color-series__main, '60'), 0.3),


    header__background-color___theme-light: transparent,
    header__background-color___theme-dark: transparent,
    header__font-color___theme-light: inherit,
    header__font-color___theme-dark: inherit

);
