@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$notification__map-color-assignment: (

    banner__box-shadow-color___theme-light: rgba(map-get($map-color-series__basic, '60'), 0.3),


    banner-success__background-color___theme-light: map-get($map-color-series__success, '90'),

    banner-success__font-color___theme-light: map-get($map-color-series__success, '40'),

    banner-success__border-color___theme-light: map-get($map-color-series__success, '70'),

    banner-success__icon-color___theme-light: map-get($map-color-series__success, '50'),
    
    banner-success__box-shadow-color___theme-light: rgba(map-get($map-color-series__success, '60'), 0.3),




    banner-hint__background-color___theme-light: map-get($map-color-series__hint, '90'),

    banner-hint__font-color___theme-light: map-get($map-color-series__hint, '40'),

    banner-hint__border-color___theme-light: map-get($map-color-series__hint, '70'),

    banner-hint__icon-color___theme-light: map-get($map-color-series__hint, '50'),

    banner-hint__box-shadow-color___theme-light: rgba(map-get($map-color-series__hint, '60'), 0.3),


    banner-error__background-color___theme-light: map-get($map-color-series__error, '90'),

    banner-error__font-color___theme-light: map-get($map-color-series__error, '40'),

    banner-error__border-color___theme-light: map-get($map-color-series__error, '70'),

    banner-error__icon-color___theme-light: map-get($map-color-series__error, '50'),

    banner-error__box-shadow-color___theme-light: rgba(map-get($map-color-series__error, '60'), 0.3),


    banner-warning__background-color___theme-light: map-get($map-color-series__warning, '90'),

    banner-warning__font-color___theme-light: map-get($map-color-series__warning, '40'),

    banner-warning__border-color___theme-light: map-get($map-color-series__warning, '70'),

    banner-warning__icon-color___theme-light: map-get($map-color-series__warning, '50'),

    banner-warning__box-shadow-color___theme-light: rgba(map-get($map-color-series__warning, '60'), 0.3),




);
