
.root {

    display: none;

    visibility: visible;
    &:global(.active----false) {
        visibility: hidden;
    }

	@media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        @include frame-each-theme(border-bottomm, 1px, solid, nav-2--name-app__border-color);
        
        width: 100%;
        height: $nav-2--bar__height;   /* we should let 'Content' know this value too */ 
    
        position: fixed;
        z-index: 200;
    
        margin: 0px 0px 0px 0px; /* top right bottom left */
        padding: 0px 0px 0px 0px; /* top right bottom left */
        
        & > div:nth-child(1) {
        width: 200px;
        }
        & > div:nth-child(2) {
        width: calc(100% - 400px);  // 768-280 ~
        }
        & > div:nth-child(3) {
        width: 200px;
        }
  	
	}
  
}


.name-app {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

	& > *:nth-child(1) {
	  margin-left: 10px;
    }
    
    & > *:nth-child(2) {

        @include color-each-theme(color, nav-2--name-app__font-color);

        font-size: 1.4rem;
        font-weight: bold;
        
        margin-left: 10px;
	}

    .name-app__icon-home {
        @include color-each-theme(color, nav-2--name-app__icon-color);
        width: 36px;
        height: 36px;
    }
}

.collection-destination {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    @include color-each-theme(color, nav-2--link__font-color);

    
    & > div:nth-child(n+2){
        margin-left: 10px;
    }
  
    & > div {
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        width: auto;
        height: auto;
        
        cursor: pointer;
        
        &:hover {

            @include color-each-theme(color, nav-2--link__font-color__hover);

        }
    }

}


.collection-tool {
  
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

	& > *:last-child {
	  margin-right: 10px;
	}
  
}


.tool {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
    width: auto;
    height: auto;
  
	& > *:nth-child(1) {
	  margin-right: 10px;
	}
  
    & > a {
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        @include color-each-theme(color, nav-2--link__font-color);
        
        width: auto;
    
    
        & > div:nth-child(n+2){
            margin-left: 8px;
        }
        
        & > div {
            width: auto;
            color: inherit;  
        }
        
        &:hover {
            @include color-each-theme(color, nav-2--link__font-color__hover);
        }
    
    }

    .tool__icon-setting {
        @include color-each-theme(color, nav-2--tool__icon-color);
        width: 24px;
        height: 24px;
    }
}

.link-main {

    @include color-each-theme(background-color, nav-2--link-main__background-color); // !important
    @include color-each-theme(color, nav-2--link-main__font-color); // !important

    padding: 4px 8px 4px 8px; /* top right bottom left */
  
    border-radius: 5px;
  
    font-weight: regular;
  
}